* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  
  .home-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  
  .title {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
  }
  
  
  .filter-container {
    display: flex;
    gap: 16px;
  }
  
  
  .pokemons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }